.rnc__notification-item--danger {
    background-color: #942b35;
    border-left: 8px solid #651a21;

    .rnc__notification-timer {
        background-color: #651a21;
    }
    .rnc__notification-timer-filler {
        background-color: #651a21;
    }
    .rnc__notification-close-mark {
        background-color: #942b35;
    }
}

.rnc__notification-item--success {
    background-color: #00694d;
    border-left: 8px solid #004834;

    .rnc__notification-timer {
        background-color: #004834;
    }
    .rnc__notification-timer-filler {
        background-color: #004834;
    }
    .rnc__notification-close-mark {
        background-color: #004834;
    }
}
